
GO
DROP TABLE Branches
go
-- Branch Table for Case 2
CREATE TABLE Branches (
	Id INT IDENTITY(1,1) NOT NULL,
	Street VARCHAR(150) NULL,
	City VARCHAR(150) NULL,
	Region VARCHAR(2) NULL,
	Longitude FLOAT NULL,
	Latitude FLOAT NULL,
 CONSTRAINT PK_Branch PRIMARY KEY CLUSTERED(Id)
)
GO
SET IDENTITY_INSERT Branches ON
GO

--Stored Proc for getting 3 closest stores
DROP PROC pGetThreeClosestStores
GO

CREATE PROC pGetThreeClosestStores
	@lat DECIMAL(12, 9),
	@lng DECIMAL(12, 9)
AS
	DECLARE @origPoint GEOGRAPHY =  GEOGRAPHY::Point(@lat, @lng, 4326);

	SELECT TOP (3) *, @origPoint.STDistance(GEOGRAPHY::Point(Latitude, Longitude, 4326)) AS Distance
	FROM Branches 
	ORDER BY Distance ASC
GO

INSERT INTO BRANCHES (Id, Street, City, Region, Longitude, Latitude) VALUES (1, N'667 Main St', N'Woodstock', N'NB', -67.573, 46.15067)
INSERT INTO BRANCHES (Id, Street, City, Region, Longitude, Latitude) VALUES (2, N'360 Connell St', N'Woodstock', N'NB', -67.5985, 46.16861)
INSERT INTO BRANCHES (Id, Street, City, Region, Longitude, Latitude) VALUES (3, N'194 Beardsley Rd', N'Woodstock', N'NB', -67.6058, 46.1223)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
SET IDENTITY_INSERT BRANCHES OFF
GO 
-- SHOULD BE 3592 if all is well
SELECT COUNT(*) AS "Total # of branches" FROM Branches 
